# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore the .terraform directory
.terraform/

# Ignore sensitive variable files
terraform.tfvars
*.tfvars

# Ignore override files
*.override.tf
*.override.tf.json

# Ignore local environment files
.terraform.lock.hcl
